doctype html
html
  head
    title My App
  body
    block content

    h1 Historial

    // Formulario para seleccionar un usuario
    form(action="/consultarHistorial" method="post")
      label(for="usuario") Selecciona un usuario:
      select(name="usuario" id="usuario")
        option(value='') (select one)
        option(value='Vicente') Vicente
        option(value='Oscar') Oscar
        option(value='Christopher') Christopher
        option(value='Axel') Axel
      button(type="submit") Mostrar Historial

    if historial
      // Tabla para mostrar el historial
      table
        thead
          tr
            th Fecha
            th Suma
            th Usuario
        tbody
          each record in historial
            tr
              td= record.fecha
              td= record.suma
              td= record.usuario
